@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./GetStartedPage.scss";
@import "./NewUserGreeting.scss";

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: whitesmoke;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  max-width: 400px;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

#__next {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
}
