@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
}
