.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.gap-16 {
  gap: 16px;
}
.gap-20 {
  gap: 20px;
}
