.PostForm {
  margin: 0;
  padding: 0;
  width: 100%;

  textarea {
    background-color: lightgrey;
    border: 2px solid black;
    font-size: 24px;
    border-radius: 7.5px;
    padding: 0.5em;
    width: 100%;
    margin-bottom: 16px;
    outline: none;
    font-family: inherit;
  }

  .add-post-btn {
    all: unset;
    background-color: #09b138;
    font-size: 24px;
    padding: 0.5em 1em;
    text-align: center;
    color: white;
    border-radius: 7.5px;
  }
}
