name: Deploy Tag to Production

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to release to production?"
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Check if tag exists
        id: check-tag
        run: |
          TAG=${{ inputs.tag }}
          if git rev-parse --quiet --verify "refs/tags/$TAG" >/dev/null; then
            echo "Found tag $TAG"
            echo "::set-output name=tag-exists::true"
          else
            echo "Given tag $TAG does not exist"
            echo "::set-output name=tag-exists::false"
          fi
        continue-on-error: true

      - name: Set tag exists flag
        env:
          tag-exists: ${{ steps.check-tag.outputs.tag-exists }}
        run: echo "Tag exists: $tag-exists"

      - name: Checkout tag on production branch
        if: ${{ steps.check-tag.outputs.tag-exists == 'true' }}
        run: |
          TAG=${{ inputs.tag }}
          PRODUCTION_BRANCH=production
          git checkout main
          git fetch --tags
          git push --delete origin $PRODUCTION_BRANCH || true
          git checkout $TAG
          git checkout -b $PRODUCTION_BRANCH
          git push --set-upstream origin $PRODUCTION_BRANCH